@font-face {
    font-family: 'TeamsAssetsRegular';
    src: url('TeamsAssets-Regular.eot'); /* IE9 Compat Modes */
    src: url('TeamsAssets-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TeamsAssets-Regular.woff') format('woff'), /* Modern Browsers */
         url('TeamsAssets-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TeamsAssets-Regular.svg#TeamsAssets-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}